#text-items{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.5rem;
}

#text-items .text-icons{
    display: flex;
    list-style: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}
#text-items .text-icons::before {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    left: 0;
    Content: "";
    Background-color: rgb(47, 128, 79);
    height: 1px;
}


#text-items .text-icons .icon{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        border: 1px solid rgb(47, 128, 79);
        border-radius: 50%;
        padding: 1rem;
        background: white;
        margin-left: 10rem;
        box-shadow: 0 0 0 0.5em white;
}
#text-items .text-icons #icon-1{
    background-color: rgb(47, 128, 79);
    border: 1px solid rgb(47, 128, 79);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 1px solid rgb(47, 128, 79);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 0 0 0.5em white;
}